@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body,html{
    font-family: 'playfair display',sans-serif !important ;
    font-size: 1.1em;
    font-weight: bold !important;
}
.app-primary-color{
    color:#79589f
}
nav ,.app-primary-bg-color{
    background-color: #79589f;
}
.card-body{
    padding: 0 !important;
}
.border-bottom-1{
    border-bottom: 1px solid lightgray;
}
.card-subtitle{
    margin-top: 1rem;
}
.navbar-nav .nav-link,.navbar-toggler{
    color:white;
    border-color:white;
}
